@model AddServiceFunctionViewModel

@{
    ViewBag.Title = LevelNames.LevelOne + " > " + (string.IsNullOrEmpty(Model.ServiceDomainName) ? "Add Service Function" : @Model.ServiceDomainName);
    var menuModel = new LevelOneMenuModel { ServiceDomainsSelected = Model.HasServiceDomainContext, ServiceFunctionsSelected = !Model.HasServiceDomainContext };
}

@section navigation
{
    @Html.Partial("_LevelOneMenu", menuModel)
}

@section globalcommands
{
    @Html.Action("QuickLinks", "Menu")
}

@section helpcommands
{
    @Html.ImageActionLink(Url.Content("~/Images/Help.png"), "Help", "Index", "Help", tooltip: "Help", htmlAttributes: new { id = "btnContextHelp", target = "servicedecompositionhelp" }, routeValues: new { helpKey = "addfunctionlevelone" })
}

@section contextcommands
{

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_AddServiceFunction", Model)