@model int?

@{
    var level = @Model;
    ViewBag.Title = LevelNames.LevelZero + " > Diagrams > Fujitsu Domains Overview";
}

@section navigation
{
    @Html.Partial("_LevelZeroDiagramMenu", new DiagramMenuModel { FujitsuDomainsSelected = true })
}

@section globalcommands
{
    @Html.Action("QuickLinks", "Menu")
}

@section helpcommands
{
    @Html.ImageActionLink(Url.Content("~/Images/Help.png"), "Help", "Index", "Help", tooltip: "Help", htmlAttributes: new { id = "btnContextHelp", target = "servicedecompositionhelp" }, routeValues: new { helpKey = "fujitsudomainsdiagram" })
}

@section contextcommands
{

}

<h2>@ViewBag.Title</h2>

@(Html.Action("FujitsuDomains","ServiceDesk", new {level = @level}))