@model DiagramGridViewModel

@{
    ViewBag.Title = LevelNames.LevelOne + " > Assets";
}

@section navigation
{
    @Html.Partial("_LevelOneDiagramMenu", new DiagramMenuModel { DiagramsSelected = true })
}

@section globalcommands
{
    @Html.Action("QuickLinks", "Menu")
}

@section helpcommands
{
    @Html.ImageActionLink(Url.Content("~/Images/Help.png"), "Help", "Index", "Help", tooltip: "Help", htmlAttributes: new { id = "btnContextHelp", target = "servicedecompositionhelp" }, routeValues: new { helpKey = "diagramlevelone" })
}

@section contextcommands
{

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_DiagramGrid", Model)