@model Fujitsu.SLM.Model.InputTypeRefData
@{
    var isAdministrator = User.IsInRole(UserRoles.Administrator);
}
<div>
    <fieldset>
        @Html.HiddenFor(x => x.Id)
        <legend>Input Type</legend>
        <div class="layout-row">
            <div class="editor-label">
                <label>@Html.LabelFor(x => x.InputTypeNumber)</label>
            </div>
            <div class="editor-field">
                @(Html.EditorFor(x => x.InputTypeNumber, "SmallInteger"))
                @Html.ValidationMessageFor(model => model.InputTypeNumber)
            </div>
        </div>
        <div class="layout-row">
            <div class="editor-label">
                <label>@Html.LabelFor(x => x.InputTypeName)</label>
            </div>
            <div class="editor-field">
                @(Html.EditorFor(x => x.InputTypeName,"WindowWideText"))
                @Html.ValidationMessageFor(model => model.InputTypeName)
            </div>
        </div>
        @if (isAdministrator)
        {
            <div class="layout-row">
                <div class="editor-label">
                    <label>@Html.LabelFor(x => x.Default)</label>
                </div>
                <div class="editor-field">
                    @(Html.Kendo().CheckBox().Name("Default"))
                </div>
            </div>
        }
        <div class="layout-row">
            <div class="editor-label">
                <label>@Html.LabelFor(x => x.SortOrder)</label>
            </div>
            <div class="editor-field">
                @(Html.EditorFor(x => x.SortOrder, "SmallInteger"))
                @Html.ValidationMessageFor(model => model.SortOrder)
            </div>
        </div>
    </fieldset>
</div>


<script type="text/javascript">
    $(document).ready(function (e) {
        highlightRequiredFields();
    });
</script>


