@model TemplateViewModel
@{
        ViewBag.Title = $"Template > {Model.Filename} [{Model.TemplateType}]";
}

@section navigation
{
    @Html.Partial("_AdministrationMenu", new AdministrationMenuModel { TemplatesSelected = true })
}

@section globalcommands
{
    @Html.Action("QuickLinks", "Menu")
}

@section helpcommands
{
    @Html.ImageActionLink(Url.Content("~/Images/Help.png"), "Help", "Index", "Help", tooltip: "Help", htmlAttributes: new { id = "btnContextHelp", target = "servicedecompositionhelp" }, routeValues: new { helpKey = "templates" })
}

@section contextcommands
{

}

<h2>@ViewBag.Title</h2>

@Html.Partial("_TemplateRowsAsSpreadsheet", Model.Id)