@model AddServiceDomainViewModel

@{
    ViewBag.Title = "Service Decomposition > " + Model.ServiceDeskName;
}

@section navigation
{
    @Html.Partial("_ServiceDecompositionMenu", new ServiceDecompositionMenuModel { MyCustomersSelected = true })
}

@section globalcommands
{
    @Html.Action("QuickLinks", "Menu")
}

@section helpcommands
{
    @Html.ImageActionLink(Url.Content("~/Images/Help.png"), "Help", "Index", "Help", tooltip: "Help", htmlAttributes: new { id = "btnContextHelp", target = "servicedecompositionhelp" }, routeValues: new { helpKey = "adddomain" })
}

@section contextcommands
{

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_AddServiceDomain", Model)