@model ViewServiceDomainViewModel
@{
    ViewBag.Title = LevelNames.LevelZero + " > Service Domains";
    var vm = new ServiceDomainGridViewModel
    {
        EditLevel = NavigationLevelNames.LevelZero,
        HasServiceDeskContext = false,
        CanMoveServiceDomain = Model.CanMoveServiceDomain,
        CanImportServiceConfiguratorTemplate = Model.CanImportServiceConfiguratorTemplate,
        CanImportServiceLandscapeTemplate = Model.CanImportServiceLandscapeTemplate
    };
}

@section navigation
{
    @Html.Partial("_LevelZeroMenu", new LevelZeroMenuModel { ServiceDomainsSelected = true })
}

@section globalcommands
{
    @Html.Action("QuickLinks", "Menu")
}

@section helpcommands
{
    @Html.ImageActionLink(Url.Content("~/Images/Help.png"), "Help", "Index", "Help", tooltip: "Help", htmlAttributes: new { id = "btnContextHelp", target = "servicedecompositionhelp" }, routeValues: new { helpKey = "domainlevelzero" })
}

@section contextcommands
{

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_ServiceDomains", vm)