@model ViewProcessDotMatrixViewModel
@{
    ViewBag.Title = LevelNames.LevelTwo + " > Process Dot Matrix";
}

@section navigation
{
    @Html.Partial("_LevelTwoMenu", new LevelTwoMenuModel { ProcessDotMatrixSelected = true })
}

@section globalcommands
{
    @Html.Action("QuickLinks", "Menu")
}

@section helpcommands
{
    @Html.ImageActionLink(Url.Content("~/Images/Help.png"), "Help", "Index", "Help", tooltip: "Help", htmlAttributes: new { id = "btnContextHelp", target = "servicedecompositionhelp" }, routeValues: new { helpKey = "dotmatrixleveltwo" })
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_DotMatrix", Model)