@model AddResolverLevelZeroViewModel

<div>Please note: any empty or incomplete rows will be ignored when saving. Also, moving away from the page without saving will also cause any changes made to be lost. To add more rows to the grid, click the 'Add More Rows' button.</div>
<br />

@(Html.Kendo().Grid<BulkResolverLevelZeroViewModel>()
    .Name("AddResolverGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Visible(false);
        if (Model.IsSingleDeskContext)
        {
            columns.Bound(p => p.ServiceDeskId).Visible(false);
        }
        else
        {
            columns.ForeignKey(p => p.ServiceDeskId, Model.ServiceDesks, "Value", "Text");
        }
        columns.ForeignKey(p => p.ServiceDeliveryOrganisationTypeId, Model.ServiceDeliveryOrganisationTypes, "Value", "Text");
        columns.ForeignKey(p => p.ServiceDeliveryUnitTypeId, Model.ServiceDeliveryUnitTypes, "Value", "Text");
        columns.Bound(p => p.ServiceDeliveryUnitNotes).Encoded(false).ClientTemplate("<div>#= formatMultiLineString(ServiceDeliveryUnitNotes)#</div>");
        columns.ForeignKey(p => p.ResolverGroupTypeId, Model.ResolverGroupTypes, "Value", "Text");
        columns.Command(command => command.Destroy()).Width(100);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create().Text("Add More Rows").HtmlAttributes(new { id = "addMoreRowsToolbar" });
        toolbar.Custom().Text("Add Service Delivery Unit Name").HtmlAttributes(new { id = "addServiceDeliveryUnitTypeToolbar" });
        toolbar.Custom().Text("Add Resolver Group Name").HtmlAttributes(new { id = "addResolverGroupTypeToolbar" });
        toolbar.Save().HtmlAttributes(new { id = "gridSave" });
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Filterable(filterable => filterable.Extra(false).Operators(operators => operators.ForString(str => str.Clear().Contains("Contains").DoesNotContain("Does not contain").StartsWith("Starts with").EndsWith("Ends with").IsEqualTo("Is equal to").IsNotEqualTo("Is not equal to"))))
    .Sortable()
    .ColumnMenu()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .Events(events =>
        {
            events.Error("onErrorNoCancel");
            events.RequestStart("onRequestStart");
            events.RequestEnd("onRequestEnd");
        })
        .Model(model =>
        {
            model.Id(p => p.Id);
            if (Model.IsSingleDeskContext)
            {
                model.Field(f => f.ServiceDeskId).DefaultValue(Model.SingleDeskId);
            }
        })
            .Create(create => create.Action("CreateAjaxAddResolverLevelZeroGrid", "Resolver"))
            .Read(read => read.Action("ReadAjaxAddResolverGrid", "Resolver"))
            .Update(update => update.Action("UpdateAjaxAddResolverGrid", "Resolver"))
            .Destroy(destroy => destroy.Action("DestroyAjaxAddResolverGrid", "Resolver"))
    ))
<fieldset>
    <p>
        <input id="buttonSave" type="button" name="Save" class="k-button k-button-icontext slm-button" value="Save"/>
        <input id="buttonReturn" type="button" name="Return" class="k-button k-button-icontext slm-button" value="Cancel"/>
    </p>
</fieldset>

@Html.Partial("_AddServiceDeliveryUnitTypeWindow")

@Html.Partial("_AddResolverGroupTypeWindow")

<script type="text/javascript">
    var url = '@ViewContext.HttpContext.Request.UrlReferrer.PathAndQuery';

    $(document).ready(function () {
        $("#addMoreRowsToolbar > span").addClass("k-icon k-i-rows");
        $("#addMoreRowsToolbar").click();

        // Hide grid toolbar buttons.
        $(".k-grid-save-changes").hide();
        $(".k-grid-cancel-changes").hide();

        addResolverClickHandlers();

        $("#buttonSave").click(function (e) {
            startSpinner();
            e.preventDefault();
            $(".k-grid-save-changes").click();
        });

        $("#buttonSave").mousedown(saveMouseDown);
        $("#buttonReturn").click(cancelHandler);
        $("#buttonReturn").mousedown(cancelHandler);
    });

    function saveMouseDown(e) {
        e.stopImmediatePropagation();
        startSpinner();
        // Wait 1.5 sec before calling the grid save function
        // this gives the grid plenty of time to onblur, set row state correctly and redraw
        setTimeout(function() { $(".k-grid-save-changes").click(); }, 1500);
    }

    function cancelHandler(e) {
        e.stopImmediatePropagation();
        startSpinner();
        debugger;
        window.location.href = url; //'@Model.ReturnUrl';
    }

    function onRequestStart(e) {
        if (e.type == "read") {
            e.preventDefault();
        }
    }

    function onRequestEnd(e) {
        debugger;
        if (e.type == "create" && e.response.Errors == null) {
            window.location.href = url; //'@Model.ReturnUrl';
        } else {
            stopSpinner();
        }
        e.preventDefault();
    }

    function formatMultiLineString(e) {
        if (!e || e.length == 0) {
            return "";
        }
        var formatted = '<ul class="service-delivery-unit-notes"><li>' + e.replace(/\r/g, '').replace(/\n/g, '</li><li>') + '</li></ul>';
        formatted = formatted.replace('/<li><\/li>/g', '');
        return formatted;
    }
</script>