@model AddResolverLevelZeroViewModel

@{
    ViewBag.Title = LevelNames.LevelZero + " > Add Resolver";
    var menuModel = new LevelZeroMenuModel {  ResolversSelected = true };
}

@section navigation
{
    @Html.Partial("_LevelZeroMenu", menuModel)
}

@section globalcommands
{
    @Html.Action("QuickLinks", "Menu")
}

@section helpcommands
{
    @Html.ImageActionLink(Url.Content("~/Images/Help.png"), "Help", "Index", "Help", tooltip: "Help", htmlAttributes: new { id = "btnContextHelp", target = "servicedecompositionhelp" }, routeValues: new { helpKey = "addresolverlevelzero" })
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_AddLevelZero", Model)