@model ServiceFunctionViewModel

<div id="serviceFunctionViewModelContainer">
    <fieldset class="form-popup-fieldset">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ServiceDomainId)
        <legend>Service Function</legend>
        <div class="layout-row">
            <div class="editor-label">
                <label>@Html.LabelFor(x => x.FunctionTypeId)</label>
            </div>
            <div class="editor-field">
                @(Html.Kendo().DropDownListFor(model => model.FunctionTypeId)
                      .Filter(FilterType.Contains)
                      .DataTextField("FunctionName")
                      .DataValueField("Id")
                      .DataSource(source => source.Read(read => read.Action("GetAllAndNotVisibleFunctionTypesForCustomer", "ReferenceData"))))
                <div class="kendo-validation">
                    @Html.ValidationMessageFor(model => model.FunctionTypeId)
                </div>
            </div>
        </div>
        <div class="layout-row">
            <div class="editor-label"></div>
            <div class="editor-field">
                @(Html.Kendo().Button().Name("addFunctionType").Content("Create Function Type").Events(events => events.Click("addFunctionType")))

                @Html.Partial("_AddFunctionTypeWindow")
            </div>
        </div>
        <div class="layout-row">
            <div class="editor-label">
                <label>@Html.LabelFor(x => x.AlternativeName)</label>
            </div>
            <div class="editor-field">
                @(Html.EditorFor(x => x.AlternativeName, "WideText"))
                @Html.ValidationMessageFor(model => model.AlternativeName)
            </div>
        </div>
        <div class="layout-row">
            <div class="editor-label">
                <label>@Html.LabelFor(x => x.DiagramOrder)</label>
            </div>
            <div class="editor-field">
                @(Html.EditorFor(x => x.DiagramOrder, "SmallInteger"))
                <div class="kendo-validation">
                    @Html.ValidationMessageFor(model => model.DiagramOrder)
                </div>
            </div>
        </div>
    </fieldset>
</div>

<script type="text/javascript">
    $(document).ready(function (e) {
        highlightRequiredFields();
    });
</script>